<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>PF 2016</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="icon" type="image/png" href="<%= image_path 'favicon-32x32.png' %>" sizes="32x32" />
  <link rel="icon" type="image/png" href="<%= image_path 'favicon-16x16.png' %>" sizes="16x16" />

  <meta property="og:title" content="PF 2016 - tým pračka" />
  <meta property="og:type" content="website" />
  <meta property="og:locale" content="cs_CZ" />
  <meta property="og:url" content="http://pracka-pf2016.heroku.com" />
  <meta property="og:description" content="Copak Ti asi letos spadne na hlavu? Zahrej si tuto hru a dozvíš se!" />
  <meta property="og:image" content="<%= image_path 'gameplay_screen.png' %>" />

  <%= stylesheet_tag 'app' %>
  <%= javascript_tag 'app' %>
</head>
<body>

<div class="page"><div id="container"></div></div>

</body>
</html>